<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" type="text/css" href="crud.css">
</head>
<body>
    <h1>Crud Operation</h1>
    <a href="/dataEntry">
        <button class="my-button">Add User</button>
    </a>
    <a href="/table"> 
    <button class="my-button-2">All User</button>
    </a>

</body>
</html>